@page "/"
@using System.Net.Http
@using System.Threading.Tasks
@using Microsoft.JSInterop
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using AutomaticKingdom.Classes;
@using IronBlock
@using IronBlock.Blocks;
@using Microsoft.CodeAnalysis;
@using Microsoft.CodeAnalysis.CSharp.Scripting;
@using Microsoft.CodeAnalysis.Scripting;
@using CSScriptLib;
@inject IJSRuntime JSRuntime

<h1>AutomaticKingdom.com</h1>

<button class="btn btn-primary" @onclick="GetXML" disabled="@ViewXML">
    XML
</button>
<button class="btn btn-primary" @onclick="GetCode" disabled="@ViewCode">
    C# Code
</button>
<button class="btn btn-primary" @onclick="RunCode" disabled="@ViewRunCode">
    Run Code
</button>
<div style="width: 100%">
    <div @ref="@blocklyDiv" style="display: inline-block; height: 480px; width: 100%"></div>
</div>

@if (ViewXML)
{
    <div class="modal" tabindex="-1" style="display:block;background-color:gainsboro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">View XML</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea disabled="disabled" style="display: inline-block; height: 480px; width: 100%;">@XMLText</textarea>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewCode)
{
    <div class="modal" tabindex="-1" style="display:block;background-color:gainsboro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">View Code</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea disabled="disabled" style="display: inline-block; height: 480px; width: 100%;">@CodeText</textarea>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewRunCode)
{
    <div class="modal" tabindex="-1" style="display:block;background-color:gainsboro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (!ExecutingCode)
                    {
                        <div>
                            <select class="form-control"
                                    @bind="@WorldObject">
                                @foreach (var option in WorldObjectOptions)
                                {
                                    <option value="@option">
                                        @option
                                    </option>
                                }
                            </select>
                        </div><br />
                        <button class="btn btn-primary" @onclick="ExecuteCode">
                            Execute Code
                        </button>
                    }
                    else
                    {
                        <img src="media/waiting.gif" width="200" height="50" />
                    }
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                <div class="modal-body">
                    <p>Response: @Output</p>
                    <Avatar></Avatar>
                </div>
            </div>
        </div>
    </div>
}

<!-- TOOLBOX -->
<xml xmlns="https://developers.google.com/blockly/xml" @ref="@toolbox" style="display: none">
    <category name="Logic" colour="%{BKY_LOGIC_HUE}">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Loops" colour="%{BKY_LOOPS_HUE}">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
    </category>
    <category name="Math" colour="%{BKY_MATH_HUE}">
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
    </category>
    <category name="Text" colour="%{BKY_TEXTS_HUE}">
        <block type="text"></block>
        <block type="text_length"></block>
        <block type="text_print"></block>
    </category>
    <category name="Lists" colour="#745ba5">
        <block type="lists_create_with">
            <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with">
            <mutation items="3"></mutation>
        </block>
        <block type="lists_repeat">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">5</field>
                </shadow>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf">
            <field name="END">FIRST</field>
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR" id="/+G`LM-z|L$e7y}Yd2G4">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getIndex">
            <mutation statement="false" at="true"></mutation>
            <field name="MODE">GET</field>
            <field name="WHERE">FROM_START</field>
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR" id="/+G`LM-z|L$e7y}Yd2G4">list</field>
                </block>
            </value>
        </block>
        <block type="lists_setIndex">
            <mutation at="true"></mutation>
            <field name="MODE">SET</field>
            <field name="WHERE">FROM_START</field>
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR" id="/+G`LM-z|L$e7y}Yd2G4">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getSublist">
            <mutation at1="true" at2="true"></mutation>
            <field name="WHERE1">FROM_START</field>
            <field name="WHERE2">FROM_START</field>
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR" id="/+G`LM-z|L$e7y}Yd2G4">list</field>
                </block>
            </value>
        </block>
        <block type="lists_split">
            <mutation mode="SPLIT"></mutation>
            <field name="MODE">SPLIT</field>
            <value name="DELIM">
                <shadow type="text">
                    <field name="TEXT">,</field>
                </shadow>
            </value>
        </block>
        <block type="lists_sort">
            <field name="TYPE">NUMERIC</field>
            <field name="DIRECTION">1</field>
        </block>
    </category>
    <sep></sep>
    <category name="Variables" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}">
    </category>
    <category name="Functions" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}">
    </category>
    <category name="Animations" colour="%{BKY_TEXTS_HUE}">
        <block type="automatickingdom_executeanimation">
            <field name="ExecuteAnimation">Execute Animation</field>
            <field name="AnimationSelection">TPose</field>
        </block>
    </category>
    <sep></sep>
</xml>

<!-- STARTING BLOCKS -->
<xml xmlns="https://developers.google.com/blockly/xml" @ref="@startBlocks" style="display: none">
    <variables>
        <variable id="`Qg%mLC,sg)q/F1FFqSq">WorldObject</variable>
        <variable id="jm_J$=$^MWQpQ}g({.:Q">AnimationLoopResult</variable>
    </variables>
    <block type="procedures_defreturn" id="$ZHyQf!/IS@n%h[!^e|W" x="227" y="50">
        <mutation>
            <arg name="WorldObject" varid="`Qg%mLC,sg)q/F1FFqSq"></arg>
        </mutation>
        <field name="NAME">AnimationLoop</field>
        <comment pinned="false" h="80" w="160">Describe this function...</comment>
        <statement name="STACK">
            <block type="variables_set" id="7EY{$jS;[qS;!hmsNnCw">
                <field name="VAR" id="jm_J$=$^MWQpQ}g({.:Q">AnimationLoopResult</field>
                <value name="VALUE">
                    <block type="text" id="rUpbM?;DMFv,!V/WgMuK">
                        <field name="TEXT">Idle</field>
                    </block>
                </value>
                <next>
                    <block type="controls_if" id="LMW8d7_gxK(-z1R!BvD)">
                        <value name="IF0">
                            <block type="logic_compare" id="n@LbkILU.taFM4hnW=Q#">
                                <field name="OP">EQ</field>
                                <value name="A">
                                    <block type="variables_get" id="kdN5e=8;2;,xu$;l?FR$">
                                        <field name="VAR" id="`Qg%mLC,sg)q/F1FFqSq">WorldObject</field>
                                    </block>
                                </value>
                                <value name="B">
                                    <block type="text" id="L_,[JfTBV?+p9#a7ImLo">
                                        <field name="TEXT">Attacked</field>
                                    </block>
                                </value>
                            </block>
                        </value>
                        <statement name="DO0">
                            <block type="variables_set" id="bW-Y$I5#|^D#|`_~9_fz">
                                <field name="VAR" id="jm_J$=$^MWQpQ}g({.:Q">AnimationLoopResult</field>
                                <value name="VALUE">
                                    <block type="text" id="~y?-~4H5o^S,aA`[*m?S">
                                        <field name="TEXT">Run</field>
                                    </block>
                                </value>
                            </block>
                        </statement>
                        <next>
                            <block type="controls_if" id="{W;lcxtYa]Z:ZI9BG1#s">
                                <value name="IF0">
                                    <block type="logic_compare" id="ZRgD~|1Mryg5ixi(y3/u">
                                        <field name="OP">EQ</field>
                                        <value name="A">
                                            <block type="variables_get" id="cvKy4[wvkOWC!z^j7|!m">
                                                <field name="VAR" id="`Qg%mLC,sg)q/F1FFqSq">WorldObject</field>
                                            </block>
                                        </value>
                                        <value name="B">
                                            <block type="text" id="2blTEQx9YI{+%rHKb!c6">
                                                <field name="TEXT">Calm</field>
                                            </block>
                                        </value>
                                    </block>
                                </value>
                                <statement name="DO0">
                                    <block type="variables_set" id="_KKVb#fMo]`)M?3z|+ed">
                                        <field name="VAR" id="jm_J$=$^MWQpQ}g({.:Q">AnimationLoopResult</field>
                                        <value name="VALUE">
                                            <block type="text" id="}@@R`xW[dK*2lKg4bpX6K">
                                                <field name="TEXT">Walk</field>
                                            </block>
                                        </value>
                                    </block>
                                </statement>
                            </block>
                        </next>
                    </block>
                </next>
            </block>
        </statement>
        <value name="RETURN">
            <block type="variables_get" id="vmLv#jGFh!5%1*Kx@3a2">
                <field name="VAR" id="jm_J$=$^MWQpQ}g({.:Q">AnimationLoopResult</field>
            </block>
        </value>
    </block>
</xml>

@code {

    internal class CustomPrintBlock : IBlock
    {
        public List<string> Text { get; set; } = new List<string>();

        public override object Evaluate(Context context)
        {
            Text.Add((this.Values.FirstOrDefault(x => x.Name == "TEXT")?.Evaluate(context) ?? "").ToString());
            return base.Evaluate(context);
        }
    }

    private ElementReference blocklyDiv;
    private ElementReference toolbox;
    private ElementReference startBlocks;

    List<string> WorldObjectOptions = new List<string>() { "Idle", "Attacked", "Calm" };
    string WorldObject = "Idle";

    bool ViewXML = false;
    bool ViewCode = false;
    bool ViewRunCode = false;

    bool ExecutingCode = false;

    string XMLText = "";
    string CodeText = "";
    string Output = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AutomaticKingdomInterop.DemoWorkspace(
                JSRuntime,
                blocklyDiv,
                toolbox,
                startBlocks
                );
        }
    }

    void ClosePopup()
    {
        // Close Popups
        ViewXML = false;
        ViewCode = false;
        ViewRunCode = false;
    }

    private async Task GetXML()
    {
        ViewXML = true;
        ViewCode = false;
        ViewRunCode = false;
        XMLText = await AutomaticKingdomInterop.GetXML(JSRuntime);
    }

    private async Task GetCode()
    {
        ViewXML = false;
        ViewCode = true;
        ViewRunCode = false;
        CodeText = "";

        try
        {
            XMLText = await AutomaticKingdomInterop.GetXML(JSRuntime);

            var parser = new Parser()
                .AddStandardBlocks()
                .AddBlock<ExecuteAnimation>("automatickingdom_executeanimation")
                .Parse(XMLText);

            var syntaxTree = parser.Generate();
            string code = syntaxTree.NormalizeWhitespace().ToFullString();
            var script = GenerateScript(code);

            CodeText = script.Code;
        }
        catch (Exception ex)
        {
            CodeText = "ERROR: " + ex.Message;
        }
    }

    private async Task ExecuteCode()
    {
        ExecutingCode = true;
        StateHasChanged();

        this.Output = "";

        try
        {
            XMLText = await AutomaticKingdomInterop.GetXML(JSRuntime);
            var xml = await AutomaticKingdomInterop.GetXML(JSRuntime);

            var parser = new Parser()
                .AddStandardBlocks()
                .AddBlock<ExecuteAnimation>("automatickingdom_executeanimation")
                .Parse(XMLText);

            var syntaxTree = parser.Generate();

            string code = syntaxTree.NormalizeWhitespace().ToFullString();

            dynamic CsScript = CSScript.Evaluator.LoadCode(ConvertScript(code));

            var result = CsScript.AnimationLoop(WorldObject);

            this.Output = result;

            await AutomaticKingdomInterop.SetAnimation(
                JSRuntime,
                "babylon5",
                result,
                "1.0"
                );
        }
        catch (Exception ex)
        {
            this.Output = "ERROR: " + ex.Message;
        }

        ExecutingCode = false;
    }

    private void RunCode()
    {
        ViewXML = false;
        ViewCode = false;
        ViewRunCode = true;

        ExecutingCode = false;

        this.Output = "";
    }

    // Utility

    public static Script<object>
        GenerateScript(string code)
    {
        var dynamicRuntimeReference = MetadataReference.CreateFromFile(typeof(System.Runtime.CompilerServices.DynamicAttribute).Assembly.Location);
        var runtimeBinderReference = MetadataReference.CreateFromFile(typeof(Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfo).Assembly.Location);

        var scriptOptions =
        ScriptOptions.Default
        .WithImports("System", "System.Linq", "System.Math", "System.Collections.Generic")
        .AddReferences(dynamicRuntimeReference, runtimeBinderReference);

        return CSharpScript.Create<object>
            (code, scriptOptions);
    }

    public static string ConvertScript(string code)
    {
        string FinalCode = "";

        // Remove existing opening bracket
        FinalCode = code.Substring(1, (code.Length - 1));

        string StartingCode =
            @"using System.Collections.Generic;
                using System.Linq;

                public class Script
                {";

        // Add a class around existing code
        FinalCode = StartingCode + FinalCode;

        // Make AnimationLoop Public
        FinalCode = FinalCode.Replace("dynamic AnimationLoop(dynamic WorldObject)", "public dynamic AnimationLoop(dynamic WorldObject)");

        return FinalCode;
    }
}
